In [8]:
import pandas as pd
import json

In [17]:
csv_file_path = '../data/sample/MarketAvrgTicketSample.csv'

df = pd.read_csv(csv_file_path, delimiter=';', decimal=',')

df

,schemaVersion,extractStartDateTime,MarketsList,MarketsList_Market,Market_isoCode,Market_storeId,MarketsList_Interval,Interval_start,Interval_end,MarketsList_AverageTicket,AverageTicket_currency,AverageTicket_TiersList,TiersList_tier,TiersList_amount
0,1.0.0,2021-04-18T21:30:00.000Z,NaN,NaN,ES,11111111,NaN,2015-04-18T21:30:00.000Z,2016-04-18T21:30:00.000Z,NaN,EUR,NaN,1,19.50
1,1.0.0,2021-04-18T21:30:00.000Z,NaN,NaN,ES,11111111,NaN,2015-04-18T21:30:00.000Z,2016-04-18T21:30:00.000Z,NaN,EUR,NaN,2,15.70
2,1.0.0,2021-04-18T21:30:00.000Z,NaN,NaN,ES,11111111,NaN,2015-04-18T21:30:00.000Z,2016-04-18T21:30:00.000Z,NaN,EUR,NaN,3,12.75
3,1.0.0,2021-04-18T21:30:00.000Z,NaN,NaN,ES,11111111,NaN,2015-04-18T21:30:00.000Z,2016-04-18T21:30:00.000Z,NaN,EUR,NaN,4,6.25
4,1.0.0,2021-04-18T21:30:00.000Z,NaN,NaN,AE,22222222,NaN,2015-04-18T21:30:00.000Z,2016-04-18T21:30:00.000Z,NaN,AED,NaN,1,19.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,1.0.0,2021-04-18T21:30:00.000Z,NaN,NaN,UA,55569887,NaN,2015-04-18T21:30:00.000Z,2016-04-18T21:30:00.000Z,NaN,UAH,NaN,4,6.25
112,1.0.0,2021-04-18T21:30:00.000Z,NaN,NaN,US,33300215,NaN,2015-04-18T21:30:00.000Z,2016-04-18T21:30:00.000Z,NaN,USD,NaN,1,19.50
113,1.0.0,2021-04-18T21:30:00.000Z,NaN,NaN,US,33300215,NaN,2015-04-18T21:30:00.000Z,2016-04-18T21:30:00.000Z,NaN,USD,NaN,2,15.70
114,1.0.0,2021-04-18T21:30:00.000Z,NaN,NaN,US,33300215,NaN,2015-04-18T21:30:00.000Z,2016-04-18T21:30:00.000Z,NaN,USD,NaN,3,12.75
115,1.0.0,2021-04-18T21:30:00.000Z,NaN,NaN,US,33300215,NaN,2015-04-18T21:30:00.000Z,2016-04-18T21:30:00.000Z,NaN,USD,NaN,4,6.25

In [18]:
df.shape

(116, 14)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   schemaVersion              116 non-null    object
 1   extractStartDateTime       116 non-null    object
 2   MarketsList                0 non-null      float64
 3   MarketsList_Market         0 non-null      float64
 4   Market_isoCode             116 non-null    object
 5   Market_storeId             116 non-null    int64
 6   MarketsList_Interval       0 non-null      float64
 7   Interval_start             116 non-null    object
 8   Interval_end               116 non-null    object
 9   MarketsList_AverageTicket  0 non-null      float64
 10  AverageTicket_currency     116 non-null    object
 11  AverageTicket_TiersList    0 non-null      float64
 12  TiersList_tier             116 non-null    int64
 13  TiersList_amount           116 non-null    float64
dtypes: float64(6), int64(2), object(6)
memory usage: 12.8+ KB

In [20]:
df.columns

Index(['schemaVersion', 'extractStartDateTime', 'MarketsList',
       'MarketsList_Market', 'Market_isoCode', 'Market_storeId',
       'MarketsList_Interval', 'Interval_start', 'Interval_end',
       'MarketsList_AverageTicket', 'AverageTicket_currency',
       'AverageTicket_TiersList', 'TiersList_tier', 'TiersList_amount'],
      dtype='object')

In [22]:
for col in df.columns:
    print(col)

schemaVersion
extractStartDateTime
MarketsList
MarketsList_Market
Market_isoCode
Market_storeId
MarketsList_Interval
Interval_start
Interval_end
MarketsList_AverageTicket
AverageTicket_currency
AverageTicket_TiersList
TiersList_tier
TiersList_amount

In [24]:
for col in df.columns:

    print(df[col])

0      1.0.0
1      1.0.0
2      1.0.0
3      1.0.0
4      1.0.0
       ...
111    1.0.0
112    1.0.0
113    1.0.0
114    1.0.0
115    1.0.0
Name: schemaVersion, Length: 116, dtype: object
0      2021-04-18T21:30:00.000Z
1      2021-04-18T21:30:00.000Z
2      2021-04-18T21:30:00.000Z
3      2021-04-18T21:30:00.000Z
4      2021-04-18T21:30:00.000Z
                 ...
111    2021-04-18T21:30:00.000Z
112    2021-04-18T21:30:00.000Z
113    2021-04-18T21:30:00.000Z
114    2021-04-18T21:30:00.000Z
115    2021-04-18T21:30:00.000Z
Name: extractStartDateTime, Length: 116, dtype: object
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
111   NaN
112   NaN
113   NaN
114   NaN
115   NaN
Name: MarketsList, Length: 116, dtype: float64
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
111   NaN
112   NaN
113   NaN
114   NaN
115   NaN
Name: MarketsList_Market, Length: 116, dtype: float64
0      ES
1      ES
2      ES
3      ES
4      AE
       ..
111    UA
112    US
113    US
114    US
115    US
Name: Market_isoCode, Length: 116, dtype: object
0      11111111
1      11111111
2      11111111
3      11111111
4      22222222
         ...
111    55569887
112    33300215
113    33300215
114    33300215
115    33300215
Name: Market_storeId, Length: 116, dtype: int64
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
111   NaN
112   NaN
113   NaN
114   NaN
115   NaN
Name: MarketsList_Interval, Length: 116, dtype: float64
0      2015-04-18T21:30:00.000Z
1      2015-04-18T21:30:00.000Z
2      2015-04-18T21:30:00.000Z
3      2015-04-18T21:30:00.000Z
4      2015-04-18T21:30:00.000Z
                 ...
111    2015-04-18T21:30:00.000Z
112    2015-04-18T21:30:00.000Z
113    2015-04-18T21:30:00.000Z
114    2015-04-18T21:30:00.000Z
115    2015-04-18T21:30:00.000Z
Name: Interval_start, Length: 116, dtype: object
0      2016-04-18T21:30:00.000Z
1      2016-04-18T21:30:00.000Z
2      2016-04-18T21:30:00.000Z
3      2016-04-18T21:30:00.000Z
4      2016-04-18T21:30:00.000Z
                 ...
111    2016-04-18T21:30:00.000Z
112    2016-04-18T21:30:00.000Z
113    2016-04-18T21:30:00.000Z
114    2016-04-18T21:30:00.000Z
115    2016-04-18T21:30:00.000Z
Name: Interval_end, Length: 116, dtype: object
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
111   NaN
112   NaN
113   NaN
114   NaN
115   NaN
Name: MarketsList_AverageTicket, Length: 116, dtype: float64
0      EUR
1      EUR
2      EUR
3      EUR
4      AED
      ...
111    UAH
112    USD
113    USD
114    USD
115    USD
Name: AverageTicket_currency, Length: 116, dtype: object
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
111   NaN
112   NaN
113   NaN
114   NaN
115   NaN
Name: AverageTicket_TiersList, Length: 116, dtype: float64
0      1
1      2
2      3
3      4
4      1
      ..
111    4
112    1
113    2
114    3
115    4
Name: TiersList_tier, Length: 116, dtype: int64
0      19.50
1      15.70
2      12.75
3       6.25
4      19.50
       ...
111     6.25
112    19.50
113    15.70
114    12.75
115     6.25
Name: TiersList_amount, Length: 116, dtype: float64

In [26]:
def convert_to_json_1(df):
    result = {}  # El diccionario final que contendrá la estructura JSON
    
    for col in df.columns:
        if '_' in col:
            # Columnas con barra baja indican anidación
            parts = col.split('_')
            current_dict = result
            for part in parts[:-1]:
                current_dict = current_dict.setdefault(part, {})
            current_dict[parts[-1]] = df[col].to_list()
        elif pd.notna(df[col]).any():
            # Columnas sin barra baja y con al menos un valor no nulo son propiedades de primer nivel
            result[col] = df[col].to_list()

    return json.dumps(result, indent=2)

In [34]:
def convert_to_json_2(df):
    
    # Eliminar las columnas que contienen solo NaN
    df = df.dropna(axis=1, how='all')

    # Inicializar el diccionario para almacenar el JSON final
    json_data = {}

    # Iterar sobre las columnas del DataFrame
    for col in df.columns:
        # Verificar si la columna contiene "_"
        if '_' in col:
            # Verificar si todos los valores en la columna son NaN
            if df[col].isnull().all():
                # En caso de que todos los valores sean NaN, indicar anidación
                keys = col.split('_')
                current_dict = json_data
                for key in keys[:-1]:
                    current_dict = current_dict.setdefault(key, {})
            else:
                # En caso contrario, agregar la propiedad al nivel actual del JSON
                keys = col.split('_')
                json_data[keys[-1]] = df[col].to_list()
        else:
            # Si no contiene "_", agregar la propiedad al nivel actual del JSON
            json_data[col] = df[col].to_list()

    # Convertir el diccionario a formato JSON
    json_result = json.dumps(json_data, indent=2)

    return json_result

In [54]:
def convert_to_json_3(df):
    # Drop columns that contain only NaN values
    df = df.dropna(axis=1, how='all')

    # Initialize the dictionary to store the final JSON
    json_data = {}

    # Iterate over the DataFrame rows
    for index, row in df.iterrows():
        market_dict = {}
        interval_dict = {}
        tiers_list = []

        # Get values from columns
        schema_version = row['schemaVersion']
        extract_start_datetime = row['extractStartDateTime']
        market_iso_code = row['Market_isoCode']
        market_store_id = row['Market_storeId']
        interval_start = row['Interval_start']
        interval_end = row['Interval_end']
        average_ticket_currency = row['AverageTicket_currency']

        # Check if the column contains "_"
        for col in df.columns:
            if '_' in col:
                keys = col.split('_')
                if not pd.isnull(row[col]):
                    # Check if all values in the column are NaN
                    if keys[-1] == "isoCode" or keys[-1] == "storeId":
                        market_dict[keys[-1]] = row[col]
                    elif keys[-1] == "start" or keys[-1] == "end":
                        interval_dict[keys[-1]] = row[col]
                    elif keys[-1] == "tier" or keys[-1] == "amount":
                        tiers_list.append({keys[-1]: row[col]})
            else:
                json_data[col] = row[col]

        # Build the JSON structure
        market_dict["Market"] = {"isoCode": market_iso_code, "storeId": int(market_store_id)}
        interval_dict["Interval"] = {"start": interval_start, "end": interval_end}
        average_ticket_dict = {"currency": average_ticket_currency, "TiersList": tiers_list}
        market_dict["AverageTicket"] = average_ticket_dict

        # Add to the final JSON
        if "MarketsList" not in json_data:
            json_data["MarketsList"] = []
        json_data["MarketsList"].append({"Market": market_dict, "Interval": interval_dict, "AverageTicket": average_ticket_dict})

    # Convert the dictionary to JSON format
    json_result = json.dumps(json_data, indent=2)

    return json_result

In [60]:
def convert_to_json_4(df):
    # Drop columns that contain only NaN values
    df = df.dropna(axis=1, how='all')

    # Initialize the dictionary to store the final JSON
    json_data = {}

    # Create a dictionary to store data for each Market
    markets_data = {}

    # Iterate over the DataFrame rows
    for index, row in df.iterrows():
        # Get values from columns
        schema_version = row['schemaVersion']
        extract_start_datetime = row['extractStartDateTime']
        market_iso_code = row['Market_isoCode']
        market_store_id = row['Market_storeId']
        interval_start = row['Interval_start']
        interval_end = row['Interval_end']
        average_ticket_currency = row['AverageTicket_currency']

        # Check if the column contains "_"
        for col in df.columns:
            if '_' in col:
                keys = col.split('_')
                if not pd.isnull(row[col]):
                    # Check if all values in the column are NaN
                    if keys[-1] == "isoCode" or keys[-1] == "storeId":
                        markets_data[index, keys[-1]] = row[col]
                    elif keys[-1] == "start" or keys[-1] == "end":
                        markets_data[index, keys[-1]] = row[col]
                    elif keys[-1] == "tier" or keys[-1] == "amount":
                        markets_data[index, keys[-1]] = row[col]
            else:
                json_data[col] = row[col]

        # Build the JSON structure for each Market
        market_dict = {
            "isoCode": markets_data.get((index, "isoCode"), ""),
            "storeId": int(markets_data.get((index, "storeId"), 0))
        }
        interval_dict = {
            "start": markets_data.get((index, "start"), ""),
            "end": markets_data.get((index, "end"), "")
        }
        tier_dict = {
            "tier": markets_data.get((index, "tier"), 0),
            "amount": markets_data.get((index, "amount"), 0)
        }

        # Add to the final JSON
        if "MarketsList" not in json_data:
            json_data["MarketsList"] = []

        json_data["MarketsList"].append({
            "Market": market_dict,
            "Interval": interval_dict,
            "AverageTicket": {
                "currency": average_ticket_currency,
                "TiersList": [tier_dict]
            }
        })

    # Convert the dictionary to JSON format
    json_result = json.dumps(json_data, indent=2)
    
    return json_result

In [61]:
def convert_to_json_5(df):
    # Drop columns that contain only NaN values
    df = df.dropna(axis=1, how='all')

    # Initialize the dictionary to store the final JSON
    json_data = {}

    # Create a dictionary to store data for each Market
    markets_data = {}

    # Iterate over the DataFrame rows
    for index, row in df.iterrows():
        # Get values from columns
        schema_version = row['schemaVersion']
        extract_start_datetime = row['extractStartDateTime']
        market_iso_code = row['Market_isoCode']
        market_store_id = row['Market_storeId']
        interval_start = row['Interval_start']
        interval_end = row['Interval_end']
        average_ticket_currency = row['AverageTicket_currency']

        # Check if the column contains "_"
        for col in df.columns:
            if '_' in col:
                keys = col.split('_')
                if not pd.isnull(row[col]):
                    # Check if all values in the column are NaN
                    if keys[-1] == "isoCode" or keys[-1] == "storeId":
                        markets_data[index, keys[-1]] = row[col]
                    elif keys[-1] == "start" or keys[-1] == "end":
                        markets_data[index, keys[-1]] = row[col]
                    elif keys[-1] == "tier" or keys[-1] == "amount":
                        markets_data[index, keys[-1]] = row[col]
            else:
                json_data[col] = row[col]

        # Build the JSON structure for each Market
        market_dict = {
            "isoCode": markets_data.get((index, "isoCode"), ""),
            "storeId": int(markets_data.get((index, "storeId"), 0))
        }
        interval_dict = {
            "start": markets_data.get((index, "start"), ""),
            "end": markets_data.get((index, "end"), "")
        }
        tier_dict = {
            "tier": markets_data.get((index, "tier"), 0),
            "amount": markets_data.get((index, "amount"), 0)
        }

        # Add to the final JSON
        if "MarketsList" not in json_data:
            json_data["MarketsList"] = []

        # Check if the current Market is already in the list
        market_exists = any(market["Market"] == market_dict for market in json_data["MarketsList"])

        if not market_exists:
            json_data["MarketsList"].append({
                "Market": market_dict,
                "Interval": interval_dict,
                "AverageTicket": {
                    "currency": average_ticket_currency,
                    "TiersList": [tier_dict]
                }
            })
        else:
            # If the Market already exists, append only the Tier to the existing Market
            existing_market = next(market for market in json_data["MarketsList"] if market["Market"] == market_dict)
            existing_market["AverageTicket"]["TiersList"].append(tier_dict)

    # Convert the dictionary to JSON format
    json_result = json.dumps(json_data, indent=2)

    return json_result

In [62]:
json_result = convert_to_json_5(df)

In [64]:
# print(json_result)

In [65]:
json_output_path = '../data/clean/MarketAvrgTicketSample_output.json'

with open(json_output_path, 'w') as json_file:
        json_file.write(json_result)

In [67]:
# run smaller sample

filtered_df = df[df['Market_isoCode'].isin(['ES', 'AE', 'BG', 'CH'])]

In [68]:
json_result = convert_to_json_5(filtered_df)

In [69]:
json_output_path = '../data/clean/MarketAvrgTicketSample_output_comparable_to_sample.json'

with open(json_output_path, 'w') as json_file:
        json_file.write(json_result)

In [71]:
pip freeze > requirements.txt

Note: you may need to restart the kernel to use updated packages.